*.lo[a,f,g,l,t,o]
*.nlo
*.aux
*.var
*.log
*.run.xml

*.fdb_latexmk
*.fls

*.bib.bak
*.bib.sav
*.bcf
*.blg

# Editor
*.sw[op]
*~
_region_.tex
*.input.pdf
*.cut



*.html
*.bckup

*.prv

tikz/
_minted-*/
*.auxlock
*.xdv
*.pgf
*.dpth
*.md5

*.vrb
*.pdf
*.synctex.gz
*.synctex
*.pyg

# Minutes
*.maf
*.mtc
*.mtc*
*.mtc*
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.minTsk
*.minDec
*.ent
